VITE_API_URL=http://localhost:8080
VITE_FIREBASE_API_KEY=REPLACE_ME
VITE_FIREBASE_AUTH_DOMAIN=studentlaunch-31ecd.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=studentlaunch-31ecd
VITE_FIREBASE_STORAGE_BUCKET=studentlaunch-31ecd.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=REPLACE_ME
VITE_FIREBASE_APP_ID=REPLACE_ME
